// _variables.scss

// ---------------------------------------------------------------------------//

@import "https://fonts.googleapis.com/css?family=Roboto:100,300i,400,400i,700";
$main-font : 'Roboto', sans-serif;


// Main Colors ---------------- / 
$levelup-blue  		: #579BCE;
$levelup-brown		: #3D3B3B;
$levelup-gray		: #E2E2E2;

// Secondary Colors ---------- / 
$light-gray        	: #EFEFEF;
$warning-red		: #AE0000; 
$ltBlack			: #3a3a3a;



// Breakpoints --------------- / 
$xsm-breakpoint   			: 320px;
$sm-breakpoint				: 480px; 
$md-breakpoint				: 760px; 
$lg-breakpoint				: 960px; 
$sm-laptop-breakpoint		: 1024px; 