// _variables.scss

// ---------------------------------------------------------------------------//

@import "https://fonts.googleapis.com/css?family=Roboto:100,300i,400,400i,700";
$mainFont : 'Roboto', sans-serif;


// Main Colors ---------------- / 
$beige         : #E3C691;
$darkGreenGold : #8D8862;
$lightGreen    : #C0DC99;
$green         : #507356;
$lightBlue     : #97D5D9;
$desatBlue     : #464B65;

// Secondary Colors ---------- / 
$purple        : #3E2B3D;
$darkPurple    : #3A3248;
$pink          : #CC8E94;
$skin          : #B08B7B;

// Breakpoints --------------- / 
//$mobileSmall   : 320;
