.section-title{
	text-transform: uppercase;
	text-align: center;
	font-size: 2.8em;
	margin: .5em auto;

	&__image--heart{

	}
}
.section-subtitle{
	text-transform: uppercase;
	text-align: center;
	font-weight: 400; 
	margin: .5em auto;
}