.site-header{
	background-color:white;
	color:black; 
	padding: 0;
	display: block;
	margin:0 auto;
	transition: background-color .3s ease-out;  
	min-height:60px; 
	
	position: fixed;
	top:0;
	width:100%; 
	min-width: 318px; 
	z-index: 10;  
	
	-webkit-margin-before-collapse: separate;
	-webkit-box-shadow: rgba(0,0,0,0.15) 0 6px 10px;
    box-shadow: rgba(0,0,0,0.08) 0 6px 10px; 
    border-bottom: 1px solid #e1e1e1;


    &--is-expanded{
		position: fixed;
	    bottom: 0;
	    top: 0;
	    left: 0;
	    right: 0;
	    background-color: rgba(255, 255, 255, 0.93);

	   	.site-header__main-menu{
	    	display:block;

		    &__links{
		    	margin: 20px auto; 

		    	&__btn{
		    		margin-left: 0;
		    	}
		    }
		}

	    @include at-media-breakpoint(960px) {
	    	position: fixed;
		    bottom: auto;
		    top: 0;
		    left: auto;
		    right: auto;
	    	background-color: white;

		   	.site-header__main-menu{
		    	display:flex;

			    &__links{
			    	margin: 0; 

			    	&__btn{
			    		margin-left: 30px;
			    	}
			    }
			}
	    }
	}

    &__nav{
    	@include at-media-breakpoint(960px) {
    		display: flex;
    		justify-content: space-between;
    	}
    }
    &__logo{
    	display: flex;
    	justify-content: left;
    	    align-items: center;
    	padding: 10px 0;
    	    padding: 10px 0 18px 0;
   		margin: 10px 0 0 0;
   		text-align: left;

    	img{

    	}

    	p{
    		text-transform: uppercase;
		    font-weight: bold;
		    padding-left: 5px;
		    color: #3d3b3b;

		    span{
		    	// text-transform: none;
			    color: #579bce;
			    font-weight: 500;
			    font-style: italic;
		    }
    	}
    }

    &__main-menu{
    	display:none;
    	@include at-media-breakpoint(960px) {
    		display: flex;
    		justify-content: space-between;
    		    align-items: center;
		    // padding: 10px 0;
		    // margin: 10px 0 0 0;
		    text-align: left;
    	}

    	text-align: center;

    	&__links{
    		display: block;
    		    padding-top: 4px;
    		min-height: 0px;
    		text-align: center;
		    text-transform: uppercase;
		    font-weight: bold;
		    color: #3d3b3b;
		    vertical-align: baseline;
		    -ms-touch-action: manipulation;
		    touch-action: manipulation;
		    cursor: pointer;
		    color: #3d3b3b;
		    -webkit-transition: color 100ms ease-in, border-color 100ms ease-in;
		    transition: color 100ms ease-in, border-color 100ms ease-in;

		    &__btn{
			    display: inline-block;
			    font-weight: 700;
			    border: 2px solid #3d3b3b;
			    padding:3px 25px 3px;
			    color: #3d3b3b;
			    border-radius: 30px;
			    margin-left: 30px;
			
		    }
    	}
    }

    &__menu-icon{
    	display: block;
		width:30px;
		height: 19px;
		/*background-color: #FFF;*/
		position: absolute;
		z-index: 10; 
		top: 20px;
		right: 25px;

		@include at-media-breakpoint($lg-breakpoint) {
    		display: none;
    	} 

		&::before {
			content : "";
			position:absolute;
			top:0;
			left:0;
			width:30px;
			height: 3px;
			background-color: black;
			transform-origin: 10% 0; 
			transition: transform .3s ease-out;
		}

		&__middle{
			position:absolute;
			top:8px;
			left:0;
			width:30px;
			height: 3px;
			background-color: black;
			transition: all .3s ease-out;
			transform-origin: 0 50%; 
		}

		&::after{
			content: ""; 
			position:absolute;
			bottom:0;
			left:0;
			width:30px;
			height: 3px;
			background-color: black;
			transform-origin: 0 100%; 
			transition: transform .3s ease-out;
		}

		// Need to fix thais 
		// @mixin atMedium{
		// 	display: none; 
		// }

		&--close-x{
			&::before{
				//transform: rotate(45deg) scaleX(1.25);
				transform: rotate(42deg) scaleX(1);
			}	

			.site-header__menu-icon__middle{
				opacity: 0;
				transform: scaleX(0);
			}

			&::after{
				//transform: rotate(-45deg) scaleX(1.25) translateY(1px);
				transform: rotate(-42deg) scaleX(1) translateY(2px);
			}
		}
	}

}


// article{
// 	background-color:$dumontDKBlueFaded;
// 	color:white; 
// 	padding: 0;
// 	position: fixed;
// 	top:0;
// 	width:100%; 
// 	z-index: 1000;  
// 	-webkit-margin-before-collapse: separate;
// 	-webkit-box-shadow: rgba(0,0,0,0.15) 0 6px 10px;
//     box-shadow: rgba(0,0,0,0.08) 0 6px 10px; 

// 	@media (min-width: 960px){
// 		position: fixed; 
// 	}
// 	#hbMenu{
// 		display: none;
		
// 		&:checked + .hbMenuLabel{
// 			background-image: url(../img/icons/xMarkWhite.svg);
// 		}
// 		// &:checked + nav .mainMenu{
// 		// 	display: block;  	
// 		// }
// 		// Placed first in order to not overide later rule 
// 		&:checked ~ nav .mainMenu{
// 			display: block;
// 		}
// 		&:checked ~nav{
// 		    position: fixed;
// 		    bottom: 0;
// 		    top: 0;
// 		    left: 0;
// 		    right: 0;
// 		    background-color: rgba(31, 48, 57, 0.93);
// 		    @media (min-width: 960px){
// 		    	position:static; 
// 		    	background-color: none;
// 		    	display: flex; 
// 				flex-direction: row;
// 				justify-content: space-between; 
// 				& .mainMenu{
// 					display: flex;
// 					margin-top:0px; 
// 					padding:0;
// 				}
// 		    }
// 		}
// 	}

// 	.hbMenuLabel{    
// 	    position: absolute;
// 	    top: 25px;
// 	    left: 25px;
// 	    display:inline-block;
// 	    width: 30px;
// 	    height:30px;
// 	    z-index: 10;
// 	    background-size: contain;
// 	    background-repeat: no-repeat;
// 	    cursor: pointer;
// 	    background-image: url(../img/icons/hamburgerMenuWhite.svg);
// 	    @media (min-width: 960px){
// 	    	display: none;
// 	    }
// 	}

// 	nav{
// 		@media (min-width: 960px){
// 			display: flex; 
// 			flex-direction: row;
// 			justify-content: space-between; 
// 			//align-items: center;
// 		}
// 		.logo{
// 			max-width: 200px;
//     		margin: 0 auto;
//     		padding-bottom: 6px; 
//     		@media (min-width: 960px){
//     			margin: 0; 
//     		}
// 			a{
// 				text-decoration: none;

// 				    text-decoration: none;
// 			    color: white;
// 			    text-decoration: none;
// 			    padding: 0px 0px;
// 			    text-transform: uppercase;
// 			    display: block;
// 			    text-transform: uppercase;
// 			    font-size: 4px;
// 			    line-height: 18px;
// 			    letter-spacing: 1.86px;
// 			    /* color: #1B1B1B; */
// 			    font-weight: 600;
// 			    text-decoration: none;
// 			    /* display: inline-block; */
// 			    vertical-align: middle;
// 			    line-height: 30px;
// 			    margin: 6px 6px 0;
				
// 				img{
// 					max-height: 60px; 
// 					max-width: 60px; 
// 					display: block;
//     				margin: 10px auto 0 auto;
// 				}
// 				h1{
// 					color:white;
// 					//font-size:0.8em;
// 					text-decoration:none;
// 					text-align: center;
// 					font-style: italic;
					
// 					&:hover{
// 						color:$dumontLtBlue; 
// 					}
// 				}
// 				&:hover{
// 					color:$dumontLtBlue; 
// 				}
// 			}
// 		}

// 		.mainMenu{
// 			text-align:center;
// 			display: none;
// 			padding: 20px 0 0 0 ; 
			
// 			@media (min-width: 960px){
// 				display: flex;
// 				margin-top:0px; 
// 				padding:0;
// 			}
			
// 			a{
//     			color: white;
// 			    text-decoration: none;
// 			    padding: 10px 0px;
// 			    text-transform: uppercase;
// 			    display: block;
// 			    font-size: 14px;
// 			    line-height: 18px;
// 			    letter-spacing: 1.86px;

// 			    font-weight: 600;
// 			    text-decoration: none;

// 			    vertical-align: middle;
// 			    line-height: 40px;
// 			    margin: 6px 15px 0;

// 			    button{
// 			    	padding: 10px 25px;
// 				    border: solid 3px #1f3039;
// 				    background: white;
// 				    color: black;
// 				    border-radius: 10px;
// 				    margin: 0 auto;
// 				    display: block;
// 				    transition: color , background 0.6s;
// 				    text-decoration: none;
// 				    text-transform: uppercase;
// 				    line-height: 18px;
// 				    font-weight: 600;
// 				    text-decoration: none;

// 				    &:hover{
// 				    	color: white;
//     					background: $dumontLtBlue;
//     					border: solid 3px white; 
// 				    }
// 			    }

// 				@media (min-width: 960px){
// 					border-bottom: solid 5px $dumontDKBlueFaded;
// 					&:last-child{
// 						border-bottom: none;
// 					}
// 				}
// 				&:hover{
// 					color:$dumontLtBlue; 
// 					@media (min-width: 960px){
// 						color:white; 
// 						border-bottom: solid 5px #4cccd5;
// 						&:last-child{
// 							border-bottom: none;
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }