.visual-lead{
	background-color: $levelup-blue;
	//background: url(../img/sample-hero.) no-repeat 50% center fixed;
	//background: url(../img/levelup-team.jpg) no-repeat center center fixed; 

	//background: url(../img/sample-hero.gif) no-repeat 50% center; 
	//background: url(../img/levelup-team.jpg) no-repeat 50% center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
 
    min-height: 580px;
   	//height:calc(80vh);  
    color:white;
    position:relative;
   	
   	//transform-origin: center bottom;
   	//transition: transform 0s;  
   	overflow: hidden;
	margin: 59px auto 0 auto;

	&--construction{
		background-color: black;
		background-image: none;
	}
	@include at-media-breakpoint(380px) {
		min-height: 460px;
	}

	@include at-media-breakpoint($md-breakpoint) {
		min-height: 400px;
	}
	
	&__content-container{
		padding: 15px;
		padding-bottom: 30px; 
	    position: relative;
	    display: block;
	    margin: 0 auto;
	    z-index: 5;
	}

	&__description{
		margin: 0 auto;
    	padding: 30px 15px;
    	font-size: 16pt;
    	line-height: 22pt;
    	text-align: center;

    	a{
    		color: $levelup-brown;
    		text-decoration: underline;
    		&:hover{
    			color:$warning-red; 
    		}
    	}

    	@include at-media-breakpoint(500px) {
    	    font-size: 25.4pt;
		    line-height: 36.3pt;
		    width: 85%;
		    margin: 0 auto;
		    padding-top: 13%;
		    padding-bottom: 7.5%;
		}

		&--under-construction{
			color:$warning-yellow;
		}
	}

	&__btn{
		max-width: 450px; 
	}

	&__down-arrow{
    	padding-bottom: 15px;
    	padding-top: 25px;
	    text-align: center;



	    @include at-media-breakpoint($md-breakpoint) {

	    	padding-top:35px;
	    	padding-bottom:35px; 
	    }

	    a{
	    	text-decoration: none;
    		color: white;

    		animation: bouncing 1.25s infinite ease-in-out;
    		font-size: 30px;
    		position: absolute;
    		left: calc(50% - 15px);
	    }
	}


}