.wrapper{
	margin: 0 auto; 
	padding: 0px 2rem;
	max-width: $lg-breakpoint;  
	
	@include at-media-breakpoint($lg-breakpoint) {
		padding: 0px 2.5rem;
 	}

 	&--thin{
 		padding: 0px .5rem;
 		max-width: $md-laptop-breakpoint; 
 	}
}